*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background: #FAFAFA;
    background-position: center;
    background-size: cover;
    position: relative;
}

::selection{
    background-color: #4D4D4D;
    color: #FAFAFA;
}

nav{
    background: rgba(250,250,250,0.98);
    color: #FAFAFA;
    display: flex;
    justify-content: space-between;
    padding: 1.5% 17%;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logots img{
    width: 125px;
    display: none;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding-left: 30px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: #4D4D4D;
    font-size: 13px;
    font-weight: 550; 
}
.nav-links ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #4D4D4D;
    display: block;
    margin-left: 0%;
    transition: 0.5s;
}

.nav-links ul li a:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}
.nav-links .logodlm img{
    width: 125px;
    display: none;
}

.nav-links .catcat{
    display: flex;
    list-style: none;
}
.nav-links .catcat span{
    display: none;
    text-decoration: none;
    color: #4D4D4D;
    font-size: 13px;
    font-weight: 550;
}


@media (max-width: 800px){
    nav{
        padding: 1.5% 6%;
    }
    .logots{
        margin-top: 10px;
        transition: 1s ease;
    }
    .nav-links ul{
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        padding-bottom: 70px;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .nav-links ul li{
        display: flex;
        border-bottom: 1px solid #4D4D4D;
        padding-top: 30px;
        padding-left: 8px;
        padding-bottom: 12px;
    }
    .nav-links ul li a{
        padding-right: 100%;
    }
    .nav-links{
        position: fixed;
        background: #FAFAFA;
        height: 100vh;
        width: 100%;
        top: 0;
        right: -100%;
        text-align: left;
        z-index: 2;
        transition: 1.2s cubic-bezier(.165,.84,.44,1) .3s;
        /*box-shadow: 0 0 20px 0px rgba(77,77,77,0.1);*/
    }
    nav .fa{
        display: block;
        font-size: 22px;
        margin-top: 10px;
        cursor: pointer;
        color: #4D4D4D;
    }
    nav .nav-links .closeMenu{
        display: block;
        position: absolute;
        top: 17px;
        right: 20px;
    }
    .nav-links .logodlm img{
        /*display: block;*/
        display: none;
        position: absolute;
        top: 20px;
        left: 20px;
    }
    
    .nav-links .catcat{
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 100px;
        bottom: 250px;
        position: absolute;
        
        background: transparent;
        color: #fff;
        font-size: 13px;
        line-height: 20px;
        
        
    }
    .nav-links .catcat span{
        /*display: list-item;*/
        display: none;
        padding-top: 0;
        padding-bottom: 20px;
        text-align: center;
        border-bottom: 0;
    }
    
}


.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #FAFAFA;
    border-radius: 20px;
    border: 1px solid #FAFAFA;
    padding: 8px 40px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    color: #4D4D4D;
    border: 1px solid #FAFAFA;
    border-radius: 20px;
    background: #FAFAFA;
    transition: 1.5s;
}

nav .hero-btn3{
    display: inline-block;
    text-decoration: none;
    color: #4D4D4D;
    border-radius: 20px;
    border: 1px solid #4D4D4D;
    padding: 18px 40px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
nav .hero-btn3:hover{
    color: #FAFAFA;
    border: 1px solid #4D4D4D;
    border-radius: 20px;
    background: #4D4D4D;
    transition: 1.5s;
}



/*-------- landing ------------*/
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.rowe{
    display: grid;
    grid-template-columns: 800px auto;
    grid-gap: 30px;
}
.rowr{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    grid-gap: 30px;
}




iframe{
    display: block;
    width: 800px;
    height: 520px;
    border-radius: 10px;
}

@media (max-width:800px){
    .rowe{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    iframe{
    width: 300px;
    height: 200px;
    }
}


.landing{
    width: 66%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 140px;
    transition: 1s ease;
}
.landing-col{
    flex-basis: 27%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.landings{
    width: auto;
    height: 100%;
    flex-basis: 27%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #BEBEBE;
    /*box-shadow: 0 0 20px 0px rgba(77,77,77,0.2);*/
    
    background-position: center;
    background-size: cover;
    
}
.landingsz{
    width: auto;
    /*height: 100%;*/
    flex-basis: 27%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #BEBEBE;
    /*box-shadow: 0 0 20px 0px rgba(77,77,77,0.2);*/
    
    background-position: center;
    background-size: cover;
    
}





.col1 .circle{
    background: linear-gradient(360deg, #CB89F3, #DAC2F2, #FFDDF4);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.circle2{
    flex-basis: 32%;
    border-radius: 10px;
    /*margin-bottom: 30px;*/
    position: relative;
    overflow: hidden;
}
.circle2 img{
    width: 100%;
    display: block;
}
	


.circle3 {
	position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
	margin: 300px auto 0;
	width: 200px;
	height: 200px;
	background: transparent;
    border-radius:50%;
}

.circle3:before, .circle3:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(90deg, #CB89F3, #DAC2F2, #FFDDF4, #DAC2F2, #CB89F3);
	background-size: 500% 500%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
    transform: rotate(90deg);
	animation: grad 3s linear infinite;
    border-radius:50%;
    box-shadow: inset 4px 4px 6px -1px rgba(77,77,77,0.2);
    
}
@-webkit-animation grad {
	0%{background-position:0% 50%}
    50%{background-position:50% 50%}
    100%{background-position:0% 50%}
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
@-moz-animation grad {
	0%{background-position:0% 50%}
    50%{background-position:50% 50%}
    100%{background-position:0% 50%}
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
@keyframes grad {
	0%{background-position:0% 50%}
    50%{background-position:50% 50%}
    100%{background-position:0% 50%}
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.circle3:after {
	filter: blur(40px);
}

    
.circle4 {
	position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
	margin: 300px auto 0;
	width: 200px;
	height: 200px;
	background: transparent;
    border-radius:50%;
}

.circle4:before, .circle4:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(90deg, #CB89F3, #DAC2F2, #FFDDF4, #DAC2F2, #CB89F3);
	background-size: 500% 500%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
    transform: rotate(90deg);
	animation: grad4 3s linear infinite;
    border-radius:50%;
    box-shadow: inset 4px 4px 6px -1px rgba(77,77,77,0.2),inset -4px -4px 6px -1px rgba(255,255,255,0.7),-0.5px -0.5px 0px rgba(77,77,77,0.15),0px 12px 10px -10px rgba(77,77,77,0.05);
    
}
@-webkit-animation grad4 {
	0%{background-position:0% 50%}
    50%{background-position:50% 50%}
    100%{background-position:0% 50%}
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
@-moz-animation grad4 {
	0%{background-position:0% 50%}
    50%{background-position:50% 50%}
    100%{background-position:0% 50%}
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
@keyframes grad4 {
	0%{background-position:0% 50%}
    50%{background-position:50% 50%}
    100%{background-position:0% 50%}
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.item2{
    background: #FAFAFA;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, -15%);
    box-shadow: 6px 6px 10px -1px rgba(77,77,77,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
}

.circle4:after {
	filter: blur(40px);
}


.landings h1{
    font-size: 23px;
    font-weight: 600;
    margin: 10px 0;
    text-align: left;
    color: #4D4D4D;
}

.landing-col img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.layer{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    transition: 1s;
}
.layer:hover{
    background-color: rgba(77,77,77,0.7);
    /*backdrop-filter: blur(5px);*/
}
.layer ul{
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover ul{
    bottom: 17%;
    opacity: 1;
}

.layer ul h3{
    font-size: 23px;
    font-weight: 700;
    margin: 20px 0;
    text-align: center;
    color: #fff;
}

.layer ul p{
    font-size: 14px;
    font-weight: 300;
    margin: 20px 0;
    text-align: center;
    color: #fff;
    padding: 0 32px;
    padding-bottom: 30px;
}


h1{
    color: #4D4D4D;
    font-size: 36px;
    font-weight: 600;
    text-align: left;
    padding-left: 5px; 
}
p{
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 5px;
    text-align: left;
}

p a{
    text-decoration: none;
    color: #c7417b;
    transition: 0.7s;
}

p a:hover{
    color: #4D4D4D;
}

.descp p{
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    text-align: left;
}

.landing-row h1{
    font-size: 62px;
    font-weight: 600;
    padding: 30px;
    color: #31252500;
}
.descp{
    border-bottom: 1px solid #4D4D4D;
}



/*----------- Slideshow -------------*/

.slider{
    position: absolute;
    bottom: 0;
    
    
	margin: 300px auto 0;
    background: transparent;
    width: 100%;
    height: 100%;
    
    overflow: hidden;
    border-radius: 10px;
}

.slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0.0% at 50% 0);
    
}

.slider .slide.active{
    clip-path: circle(150% at 50% 0);
    transition: 2s ease;
}


.slider .slide img{
    position: absolute;
    width: 85%;
    height: 67%;;
    bottom: 60px;
    transform: translateX(-50%);
    object-fit: cover;
    border-radius: 10px;
    
}

.slider .slide .info{
    position: absolute;
    
    background-color: rgba(77,77,77,0.7);
    /*backdrop-filter: blur(1px);*/
    width: 85%;
    height: 67%;
    border-radius: 10px;
    /*box-shadow: 0 5px 25px rgb(1 1 1 / 5%);*/
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.slider .slide .info h3{
    font-size: 17px;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 20px;
    color: #fff;
    text-align: left;
}

.slider .slide .info p{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    transition: 0.5s;
    align-content: center;
}


.navigationslide{
    height: 715px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prev-btn, .next-btn{
    z-index: 9;
    font-size: 2em;
    color: #BEBEBE;
    padding: 20px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.5s;
}


.prev-btn:hover{
    color: #4D4D4D;
}

.next-btn:hover{
    color: #4D4D4D;
}


.navigation-visibilitas{
    z-index: 999;
    display: flex;
    justify-content: center;
    transform: translateY(-363px);
}

.navigation-visibilitas .slide-icon{
    z-index: 999;
    background: #BEBEBE;
    width: 10px;
    height: 10px;
    
    margin: 0 6px;
    border-radius: 10px;
}

.navigation-visibilitas .slide-icon.active{
    background: #4D4D4D;
}


@media (max-width:800px){
    .slider{
        width: 100%;
    }
    .slider .slide .info{
        position: absolute;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
    }
    .slider .slide img{
        width: 85%;
        height: 67%;
        bottom: 50px;
        left: 50%;
    }
    .slider .slide .info h3{
        padding-left: 25px;
    }

    .slider .slide .info p{
        padding-left: 25px;
        padding-bottom: 30px;
    }
}


.hero-btn2{
    display: inline-block;
    text-decoration: none;
    color: #FAFAFA;
    border-radius: 20px;
    border: 1px solid #FAFAFA;
    padding: 8px 20px;
    font-size: 13px;
    background: transparent;
    position: absolute;
    cursor: pointer;
    bottom: 10%;
    transform: translateX(-50%);
    left: 50%
}
.hero-btn2:hover{
    color: #4D4D4D;
    border: 1px solid #FAFAFA;
    border-radius: 20px;
    background: #FAFAFA;
    transition: 1.5s;
}





/*-------- footer ------------*/
.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: transparent;
    color: #fff;
    padding: 10px 0;
    font-size: 13px;
    line-height: 20px;
    transition: 1s ease;
}

.row-footer{
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.col-footer{
    flex: 1;
    text-align: right;
    padding: 0 6%;
    
}

.col-footer2{
    flex: 1;
    text-align: left;
    padding: 0 6%;
    
}

.col-footer2 h5{
    color: #BEBEBE;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
}

.col-footer ul li{
    list-style: none;
    display: inline-block;
    padding-left: 15px;
    padding-bottom: 15px;
    position: relative;
}

.col-footer ul li a{
    color: #BEBEBE;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    transition: 0.5s;
}

.col-footer ul li a:hover{
    color: #7f7f7f;
}

.col-footer h6{
    color: #BEBEBE;
    text-decoration: none;
    font-size: 11px;
    font-weight: 300;
    text-align: left;
    padding-top: 30px;
}

.col-footer2 .iconsx .fa{
    color: #BEBEBE;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 22px;
    cursor: pointer;
    text-align: left;
    transition: 0.5s;
}

.col-footer2 .iconsx .fa:hover{
    color: #7f7f7f;
}

@media (max-width:800px){
    .row-footer{
        width: 100%;
    }
    .col-footer2 .iconsx .fa{
        font-size: 17px;
    }
}



.accordion {
    background-color: #FAFAFA;
    color: #4D4D4D;
    cursor: pointer;
    padding: 7px;
    padding-left: 25px;
    width: 100%;
    border-radius: 20px;
    text-align: left;
    border: 1px solid #BEBEBE;
    font-size: 15px;
    transition: 0.4s;
    font-weight: 600;
}

.active, .accordion:hover {
  /*background-color: #da2f68;*/
  /*color: #4D4D4D;*/
  box-shadow: 6px 6px 10px -1px rgba(77,77,77,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid #f0f0f0;
}


.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  padding-right: 25px;
}

.active:after {
  content: "\2212";
}


.panel {
  padding: 0 19px;
  background-color: #FAFAFA;
  color:white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panelx {
  padding: 0 19px;
  background-color: #FAFAFA;
  color:white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panelx p{
    padding-bottom: 15px;
}









.card-img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
    padding: 10px;
    height: 100%;
    padding-bottom: 0;
}

.card-header {
  font-size: 23px;
  font-weight: 500;
  color: #0d0d0d;
  margin: 5px 0;
}

.card-text {
    font-size: 14px;
    font-weight: 400;
    color: #3d3d3d;
    margin-bottom: 25px;
    padding-top: 0;
}


.card-content2 {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    padding-bottom: 0;
}

.card-header2 {
    font-size: 23px;
    font-weight: 600;
    color: #0d0d0d;
    margin: 5px 0;
    padding-top: 10px;
}

.card-text2 {
    font-size: 14px;
    font-weight: 400;
    color: #3d3d3d;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.infotxt {
    font-size: 14px;
    font-weight: 400;
    color: #3d3d3d;
    text-align: left;
}
.infotxt2 {
    font-size: 14px;
    font-weight: 400;
    color: #3d3d3d;
    text-align: left;
    margin-bottom: 50px;
    padding-top: 0;
}




.hero-btn5{
    display: inline-block;
    text-decoration: none;
    color: #4D4D4D;
    border-radius: 20px;
    border: 1px solid #4D4D4D;
    padding: 8px 40px;
    font-size: 13px;
    background: transparent;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%
}
.hero-btn5:hover{
    color: #FAFAFA;
    border: 1px solid #4D4D4D;
    border-radius: 20px;
    background: #4D4D4D;
    transition: 1.5s;
}

.btn-card{
    right: 0;
    left: 0;
    bottom: 45px;
    position: absolute;
}
.btn-cardx{
    right: 0;
    left: 0;
    position: absolute;
}




@media (max-width: 800px){
    .landing{
        width: 89%;
    }
    .landings{
        height: 100%;
    }
    .card-img{
        height: 120px;
        object-fit: cover;
        object-position: center;
    }
}



.occu {
    background-color: #FAFAFA;
    color: #4D4D4D;
    padding: 5px;
    width: 190px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #BEBEBE;
    font-size: 12px;
    transition: 0.4s;
    font-weight: 500;
}

.active, .occu:hover {
  /*background-color: #da2f68;*/
  /*color: #4D4D4D;*/
  box-shadow: 6px 6px 10px -1px rgba(77,77,77,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid #f0f0f0;
}

.occu2 {
    background-color: #FAFAFA;
    color: #4D4D4D;
    padding: 5px;
    width: 110px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #BEBEBE;
    font-size: 12px;
    transition: 0.4s;
    font-weight: 500;
}

.active, .occu2:hover {
  /*background-color: #da2f68;*/
  /*color: #4D4D4D;*/
  box-shadow: 6px 6px 10px -1px rgba(77,77,77,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid #f0f0f0;
}

.occu3 {
    background-color: #FAFAFA;
    color: #4D4D4D;
    padding: 5px;
    width: 70px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #BEBEBE;
    font-size: 12px;
    transition: 0.4s;
    font-weight: 500;
}

.active, .occu3:hover {
  /*background-color: #da2f68;*/
  /*color: #4D4D4D;*/
  box-shadow: 6px 6px 10px -1px rgba(77,77,77,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid #f0f0f0;
}

.prop {
    background-color: #FAFAFA;
    color: #4D4D4D;
    padding: 5px;
    width: 130px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #BEBEBE;
    font-size: 12px;
    transition: 0.4s;
    font-weight: 500;
}

.active, .prop:hover {
  /*background-color: #da2f68;*/
  /*color: #4D4D4D;*/
  box-shadow: 6px 6px 10px -1px rgba(77,77,77,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid #f0f0f0;
}


.btno{
    flex: 1;
    text-align: left;
    padding-left: 0;
    
}

.btno ul li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
    position: relative;
}

.btno ul li button{
    text-decoration: none;
}

.btnox{
    flex: 1;
    text-align: left;
    padding-left: 0;
    
}

.btnox ul li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-top: 20px;
    
    position: relative;
}

.btnox ul li button{
    text-decoration: none;
}


@media (max-width:800px){
    .occu{
        padding: 3px;
        width: 140px;
        font-size: 9px;
        font-weight: 500;
    }
    .occu2{
        padding: 3px;
        width: 80px;
        font-size: 9px;
        font-weight: 500;
    }
    .occu3{
        padding: 3px;
        width: 50px;
        font-size: 9px;
        font-weight: 500;
    }
    .prop{
        padding: 3px;
        width: 100px;
        font-size: 9px;
        font-weight: 500;
    }
    .accordion{
        font-size: 10px;
        padding-left: 17px;
    }
    .accordion:after {
      padding-right: 9px;
    }
    h1{
        font-size: 30px;
    }
    .landings h1 {
    font-size: 20px;
    }
    .card-text {
        font-size: 12px;
    }
    .card-text2 {
        font-size: 12px;
    }
    .infotxt {
        font-size: 12px;
    }
    .infotxt2 {
        font-size: 12px;
    }
    .card-texttri {
        font-size: 12px;
    }
    p{
        font-size: 13px;
    }
    .descp p {
    font-size: 12px;
}
}

    
.btntit{
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #4D4D4D;
    padding-left: 5px;
    text-align: left;
}









/*-----------------awards--*/

.landingst{
    width: auto;
    height: 100%;
    flex-basis: 27%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #BEBEBE;
    /*box-shadow: 0 0 20px 0px rgba(77,77,77,0.2);*/
    
    background-position: center;
    background-size: cover;
    
}
.landingsts{
    width: auto;
    height: 100%;
    flex-basis: 27%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #BEBEBE;
    /*box-shadow: 0 0 20px 0px rgba(77,77,77,0.2);*/
    
    background-position: center;
    background-size: cover;
    
}


.small-img-row{
    display: flex;
    background: #fff;
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
}

.small-img-row p{
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    line-height: 22px;
    font-size: 14px;
    font-weight: 500;
}





/*----popup 1--*/


.video-containerx{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(250,250,250,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.video-containerx .close{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    cursor: pointer;
    color: black;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
    transition: 0.4s;
}

.video-containerx .close:hover{
    box-shadow: 6px 6px 10px -1px rgba(77,77,77,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid #f0f0f0;
}

@media (max-width: 800px){
    .video-containerx .close{
        top: 200px;
        font-size: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-right: 10px;
        
    }
}

.video-containerx .video-container{
    /*width: 90%;*/
    max-width: 800px;
    transform: scale(0);
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
    outline: none;
    transition: all 0.3s;
    border-radius: 10px;
}

.video-containerx.show{
    pointer-events: all;
    opacity: 1;
}

.video-containerx.show .video-container{
    transform: scale(1);
}


.btn{
    display: inline-block;
    text-decoration: none;
    color: #4D4D4D;
    border-radius: 20px;
    border: 1px solid #4D4D4D;
    padding: 8px 40px;
    font-size: 13px;
    background: transparent;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%
}
.btn:hover{
    color: #FAFAFA;
    border: 1px solid #4D4D4D;
    border-radius: 20px;
    background: #4D4D4D;
    transition: 1.5s;
}




/*----popup 2--*/

.video-containerx2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(250,250,250,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.video-containerx2 .close2{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    cursor: pointer;
    color: black;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
    transition: 0.4s;
}

.video-containerx2 .close2:hover{
    box-shadow: 6px 6px 10px -1px rgba(77,77,77,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid #f0f0f0;
}

@media (max-width: 800px){
    .video-containerx2 .close2{
        top: 200px;
        font-size: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-right: 10px;
        
    }
}

.video-containerx2 .video-container2{
    /*width: 90%;*/
    max-width: 800px;
    transform: scale(0);
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
    outline: none;
    transition: all 0.3s;
    border-radius: 10px;
}

.video-containerx2.show2{
    pointer-events: all;
    opacity: 1;
}

.video-containerx2.show2 .video-container2{
    transform: scale(1);
}


.btn2{
    display: inline-block;
    text-decoration: none;
    color: #4D4D4D;
    border-radius: 20px;
    border: 1px solid #4D4D4D;
    padding: 8px 40px;
    font-size: 13px;
    background: transparent;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%
}
.btn2:hover{
    color: #FAFAFA;
    border: 1px solid #4D4D4D;
    border-radius: 20px;
    background: #4D4D4D;
    transition: 1.5s;
}



/*----popup 3--*/

.video-containerx3{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(250,250,250,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.video-containerx3 .close3{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    cursor: pointer;
    color: black;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
    transition: 0.4s;
}

.video-containerx3 .close3:hover{
    box-shadow: 6px 6px 10px -1px rgba(77,77,77,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid #f0f0f0;
}

@media (max-width: 800px){
    .video-containerx3 .close3{
        top: 200px;
        font-size: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-right: 10px;
        
    }
}

.video-containerx3 .video-container3{
    /*width: 90%;*/
    max-width: 800px;
    transform: scale(0);
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
    outline: none;
    transition: all 0.3s;
    border-radius: 10px;
}

.video-containerx3.show3{
    pointer-events: all;
    opacity: 1;
}

.video-containerx3.show3 .video-container3{
    transform: scale(1);
}


.btn3{
    display: inline-block;
    text-decoration: none;
    color: #4D4D4D;
    border-radius: 20px;
    border: 1px solid #4D4D4D;
    padding: 8px 40px;
    font-size: 13px;
    background: transparent;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%
}
.btn3:hover{
    color: #FAFAFA;
    border: 1px solid #4D4D4D;
    border-radius: 20px;
    background: #4D4D4D;
    transition: 1.5s;
}


/*----popup 4--*/

.video-containerx4{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(250,250,250,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.video-containerx4 .close4{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    cursor: pointer;
    color: black;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
    transition: 0.4s;
}

.video-containerx4 .close4:hover{
    box-shadow: 6px 6px 10px -1px rgba(77,77,77,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid #f0f0f0;
}

@media (max-width: 800px){
    .video-containerx4 .close4{
        top: 200px;
        font-size: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-right: 10px;
        
    }
}

.video-containerx4 .video-container4{
    /*width: 90%;*/
    max-width: 800px;
    transform: scale(0);
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
    outline: none;
    transition: all 0.3s;
    border-radius: 10px;
}

.video-containerx4.show4{
    pointer-events: all;
    opacity: 1;
}

.video-containerx4.show4 .video-container4{
    transform: scale(1);
}


.btn4{
    display: inline-block;
    text-decoration: none;
    color: #4D4D4D;
    border-radius: 20px;
    border: 1px solid #4D4D4D;
    padding: 8px 40px;
    font-size: 13px;
    background: transparent;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%
}
.btn4:hover{
    color: #FAFAFA;
    border: 1px solid #4D4D4D;
    border-radius: 20px;
    background: #4D4D4D;
    transition: 1.5s;
}


/*----popup 5--*/

.video-containerx5{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(250,250,250,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.video-containerx5 .close5{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    cursor: pointer;
    color: black;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
    transition: 0.4s;
}

.video-containerx5 .close5:hover{
    box-shadow: 6px 6px 10px -1px rgba(77,77,77,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid #f0f0f0;
}

@media (max-width: 800px){
    .video-containerx5 .close5{
        top: 200px;
        font-size: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-right: 10px;
        
    }
}

.video-containerx5 .video-container5{
    /*width: 90%;*/
    max-width: 800px;
    transform: scale(0);
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
    outline: none;
    transition: all 0.3s;
    border-radius: 10px;
}

.video-containerx5.show5{
    pointer-events: all;
    opacity: 1;
}

.video-containerx5.show5 .video-container5{
    transform: scale(1);
}


.btn5{
    display: inline-block;
    text-decoration: none;
    color: #4D4D4D;
    border-radius: 20px;
    border: 1px solid #4D4D4D;
    padding: 8px 40px;
    font-size: 13px;
    background: transparent;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%
}
.btn5:hover{
    color: #FAFAFA;
    border: 1px solid #4D4D4D;
    border-radius: 20px;
    background: #4D4D4D;
    transition: 1.5s;
}




/*----popup 6--*/

.video-containerx6{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(250,250,250,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.video-containerx6 .close6{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    cursor: pointer;
    color: black;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
    transition: 0.4s;
}

.video-containerx6 .close6:hover{
    box-shadow: 6px 6px 10px -1px rgba(77,77,77,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid #f0f0f0;
}

@media (max-width: 800px){
    .video-containerx6 .close6{
        top: 200px;
        font-size: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-right: 10px;
        
    }
}

.video-containerx6 .video-container6{
    /*width: 90%;*/
    max-width: 800px;
    transform: scale(0);
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
    outline: none;
    transition: all 0.3s;
    border-radius: 10px;
}

.video-containerx6.show6{
    pointer-events: all;
    opacity: 1;
}

.video-containerx6.show6 .video-container6{
    transform: scale(1);
}


.btn6{
    display: inline-block;
    text-decoration: none;
    color: #4D4D4D;
    border-radius: 20px;
    border: 1px solid #4D4D4D;
    padding: 8px 40px;
    font-size: 13px;
    background: transparent;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%
}
.btn6:hover{
    color: #FAFAFA;
    border: 1px solid #4D4D4D;
    border-radius: 20px;
    background: #4D4D4D;
    transition: 1.5s;
}


:root{
    --main-radius:10px;
    --main-padding:2em;
}


.container{
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr;
    grid-template-areas:
        "bar bar bar"
        "videopl videopl vtext";
    grid-gap: 15px;
    
}

#bar{
    background: transparent;
    grid-area: bar;
}

#videopl{
    background: #FAFAFA;
    grid-area: videopl;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    border: 1px solid #BEBEBE;
}

#vtext{
    background: #FAFAFA;
    grid-area: vtext;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    border: 1px solid #BEBEBE;
}



.container02{
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 0.2fr;
    grid-template-areas:
        "bar2 bar2 bar2"
        "videopl2 videopl2 vtext2"
        "vinfo vinfo vempty";
    grid-gap: 15px;
    
}
#bar2{
    background: transparent;
    grid-area: bar2;
}

#videopl2{
    background: #FAFAFA;
    grid-area: videopl2;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    border: 1px solid #BEBEBE;
}

#vtext2{
    background: #FAFAFA;
    grid-area: vtext2;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    border: 1px solid #BEBEBE;
}
#vinfo{
    background: #FAFAFA;
    grid-area: vinfo;
    border-radius: var(--main-radius);
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #BEBEBE;
}
#vempty{
    display: none;
}


.container03{
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 0.2fr;
    grid-template-areas:
        "bar3 bar3 bar3 bar3 bar3"
        "videopl3 videopl3 videopl3 vtext3 vtext3"
        "ep1 ep2 ep3 ep4 ep5";
    grid-gap: 15px;
    
}
.jobdesk{
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    padding-bottom: 10px;
    padding-left: 5px;
    text-align: left;
}


#bar3{
    background: #FAFAFA;
    grid-area: bar3;
}

#videopl3{
    background: #FAFAFA;
    grid-area: videopl3;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    border: 1px solid #BEBEBE;
    justify-content: center;
    align-items: center;
    display: flex;
}
.jjimg{
    display: block;
    width: 645px;
    height: auto;
    border-radius: 10px;
}
.imgvid img{
    background-color: rgba(250,250,250,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
@media (max-width:800px){
    .imgvid img{
        width:290px;
        height: auto;
    }
}

#vtext3{
    background: #FAFAFA;
    grid-area: vtext3;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    border: 1px solid #BEBEBE;
}
#ep1{
    background: transparent;
    grid-area: ep1;
    border-radius: var(--main-radius);
}
#ep2{
    background: transparent;
    grid-area: ep2;
    border-radius: var(--main-radius);
}
#ep3{
    background: transparent;
    grid-area: ep3;
    border-radius: var(--main-radius);
}
#ep4{
    background: transparent;
    grid-area: ep4;
    border-radius: var(--main-radius);
}
#ep5{
    background: transparent;
    grid-area: ep5;
    border-radius: var(--main-radius);
}








.container04{
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 0.2fr;
    grid-template-areas:
        "bar04 bar04 bar04 bar04"
        "gif1 gif2 gif3 gifinfo"
        "gif4 gif5 gif6 gifinfo"
        "more more more more";
    grid-gap: 15px;
    
}

#bar04{
    background: transparent;
    grid-area: bar04;
}

.giphy-embed{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.embed {
            background-size: contain;
            height: 100%;
            width: 100%;
        }
.embed[data-ready=true] {
    background: transparent;
}

#gif1{
    background: transparent;
    grid-area: gif1;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    border: 1px solid #BEBEBE;
    justify-content: center;
    align-items: center;
    display: flex;
}
#gif2{
    background: transparent;
    grid-area: gif2;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    border: 1px solid #BEBEBE;
    justify-content: center;
    align-items: center;
    display: flex;
}
#gif3{
    background: transparent;
    grid-area: gif3;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    border: 1px solid #BEBEBE;
    justify-content: center;
    align-items: center;
    display: flex;
}
#gif4{
    background: transparent;
    grid-area: gif4;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    border: 1px solid #BEBEBE;
    justify-content: center;
    align-items: center;
    display: flex;
}
#gif5{
    background: transparent;
    grid-area: gif5;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    border: 1px solid #BEBEBE;
    justify-content: center;
    align-items: center;
    display: flex;
}
#gif6{
    background: transparent;
    grid-area: gif6;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    border: 1px solid #BEBEBE;
    justify-content: center;
    align-items: center;
    display: flex;
}

#gifinfo{
    background: #FAFAFA;
    grid-area: gifinfo;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    border: 1px solid #BEBEBE;
}

#more{
    background: #FAFAFA;
    grid-area: more;
}

.btnv{
    flex: 1;
    text-align: left;
    padding-left: 0;
}

.btnv ul li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
    position: relative;
}

.btnv ul li button{
    text-decoration: none;
}

.propv {
    background-color: #FAFAFA;
    color: #4D4D4D;
    padding: 5px;
    width: 130px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #BEBEBE;
    font-size: 12px;
    transition: 0.4s;
    font-weight: 500;
    cursor: pointer;
}

.propv:hover {
  /*background-color: #da2f68;*/
  /*color: #4D4D4D;*/
    color: #FAFAFA;
    border: 1px solid #4D4D4D;
    border-radius: 20px;
    background: #4D4D4D;
    transition: 1.5s;
}


.btn-cardv{
    flex: 1;
    text-align: left;
    padding-left: 0;
}

.hero-btnvv{
    
    text-decoration: none;
    color: #4D4D4D;
    border-radius: 20px;
    border: 1px solid #4D4D4D;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    
}
.hero-btnvv:hover{
    color: #FAFAFA;
    border: 1px solid #4D4D4D;
    border-radius: 20px;
    background: #4D4D4D;
    transition: 1.5s;
}






.containertri{
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr;
    grid-template-areas:
        "barx01 barx01 barx01"
        "cardx01 cardx02 cardx03";
    grid-gap: 15px;
    
}

#barx01{
    background: transparent;
    grid-area: barx01;
}

#cardx01{
    background: transparent;
    grid-area: cardx01;
    border-radius: var(--main-radius);
    padding: 0;
    border: 1px solid #BEBEBE;
}
#cardx02{
    background: transparent;
    grid-area: cardx02;
    border-radius: var(--main-radius);
    padding: 0;
    border: 1px solid #BEBEBE;
}
#cardx03{
    background: transparent;
    grid-area: cardx03;
    border-radius: var(--main-radius);
    padding: 0;
    border: 1px solid #BEBEBE;
}

.card-contenttri {
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
}
.landingstri{
    width: auto;
    height: 100%;
    flex-basis: 27%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    
}
.card-texttri {
    font-size: 14px;
    font-weight: 400;
    color: #3d3d3d;
    margin-bottom: 50px;
    padding-top: 0;
}






@media only screen and (max-width:1500px){
    .container{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: 0.4fr 2.2fr;
        grid-template-areas: 
            "bar"
            "videopl"
            "vtext";
    }
    .container02{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: 0.4fr 2.2fr;
        grid-template-areas: 
            "bar2"
            "videopl2"
            "vtext2"
            "vinfo";
    }
    .container03{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: 0.4fr 2.2fr;
        grid-template-areas: 
            "bar3"
            "videopl3"
            "vtext3"
            "ep1"
            "ep2"
            "ep3"
            "ep4"
            "ep5";
    }
    .container04{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: 0.4fr 2.2fr;
        grid-template-areas: 
            "bar04"
            "gifinfo"
            "gif1"
            "gif2"
            "gif3"
            "gif4"
            "gif5"
            "gif6"
            "more";
    }
    .containertri{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: 0.4fr 2.2fr;
        grid-template-areas: 
            "barx01"
            "cardx01"
            "cardx02"
            "cardx03";
    }
    #videopl{
        border: 0px;
        padding: 0;
    }
    #videopl2{
        border: 0px;
        padding: 0;
    }
    #videopl3{
        border: 0px;
        padding: 0;
    }
    .giphy-embed{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    }
    .btnv ul li{
        padding-top: 0;
    }
    .btno ul li{
        padding-bottom: 0;
    }
}

.quote-text {
    font-size: 14px;
    font-weight: 400;
    color: #3d3d3d;
    
}

.video-containerz{
    
    background-color: rgba(250,250,250,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.video-containerg{
    
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}



.card-textep {
    font-size: 14px;
    font-weight: 400;
    color: #3d3d3d;
    padding-top: 10px;
}

.card-headerep {
  font-size: 15px;
  font-weight: 600;
  color: #0d0d0d;
}

.timedur{
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    background: #c7417b;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    color: #fff;
}


/*-----ep1----*/

.btn01{
    display: flex;
    text-decoration: none;
    color: #4D4D4D;
    border-radius: 10px;
    border: 1px solid #BEBEBE;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    transition: 0.4s;
    padding-left: 10px;
    
}
.btn01:hover{
    box-shadow: 6px 6px 10px -1px rgba(77,77,77,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid #f0f0f0;
}

.video-containerx01{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(250,250,250,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.video-containerx01 .close01{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    cursor: pointer;
    color: black;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
    transition: 0.4s;
}

.video-containerx01 .close01:hover{
    box-shadow: 6px 6px 10px -1px rgba(77,77,77,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid #f0f0f0;
}

@media (max-width: 800px){
    .video-containerx01 .close01{
        top: 200px;
        font-size: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-right: 10px;
        
    }
}

.video-containerx01 .video-container01{
    /*width: 90%;*/
    max-width: 800px;
    transform: scale(0);
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
    outline: none;
    transition: all 0.3s;
    border-radius: 10px;
}

.video-containerx01.show01{
    pointer-events: all;
    opacity: 1;
}

.video-containerx01.show01 .video-container01{
    transform: scale(1);
}


/*-----ep2----*/

.btn02{
    display: flex;
    text-decoration: none;
    color: #4D4D4D;
    border-radius: 10px;
    border: 1px solid #BEBEBE;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    transition: 0.4s;
    padding-left: 10px;
    
}
.btn02:hover{
    box-shadow: 6px 6px 10px -1px rgba(77,77,77,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid #f0f0f0;
}

.video-containerx02{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(250,250,250,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.video-containerx02 .close02{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    cursor: pointer;
    color: black;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
    transition: 0.4s;
}

.video-containerx02 .close02:hover{
    box-shadow: 6px 6px 10px -1px rgba(77,77,77,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid #f0f0f0;
}

@media (max-width: 800px){
    .video-containerx02 .close02{
        top: 200px;
        font-size: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-right: 10px;
        
    }
}

.video-containerx02 .video-container02{
    /*width: 90%;*/
    max-width: 800px;
    transform: scale(0);
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
    outline: none;
    transition: all 0.3s;
    border-radius: 10px;
}

.video-containerx02.show02{
    pointer-events: all;
    opacity: 1;
}

.video-containerx02.show02 .video-container02{
    transform: scale(1);
}


/*-----ep3----*/

.btn03{
    display: flex;
    text-decoration: none;
    color: #4D4D4D;
    border-radius: 10px;
    border: 1px solid #BEBEBE;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    transition: 0.4s;
    padding-left: 10px;
    
}
.btn03:hover{
    box-shadow: 6px 6px 10px -1px rgba(77,77,77,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid #f0f0f0;
}

.video-containerx03{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(250,250,250,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.video-containerx03 .close03{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    cursor: pointer;
    color: black;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
    transition: 0.4s;
}

.video-containerx03 .close03:hover{
    box-shadow: 6px 6px 10px -1px rgba(77,77,77,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid #f0f0f0;
}

@media (max-width: 800px){
    .video-containerx03 .close03{
        top: 200px;
        font-size: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-right: 10px;
        
    }
}

.video-containerx03 .video-container03{
    /*width: 90%;*/
    max-width: 800px;
    transform: scale(0);
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
    outline: none;
    transition: all 0.3s;
    border-radius: 10px;
}

.video-containerx03.show03{
    pointer-events: all;
    opacity: 1;
}

.video-containerx03.show03 .video-container03{
    transform: scale(1);
}


/*-----ep4----*/

.btn04{
    display: flex;
    text-decoration: none;
    color: #4D4D4D;
    border-radius: 10px;
    border: 1px solid #BEBEBE;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    transition: 0.4s;
    padding-left: 10px;
    
}
.btn04:hover{
    box-shadow: 6px 6px 10px -1px rgba(77,77,77,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid #f0f0f0;
}

.video-containerx04{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(250,250,250,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.video-containerx04 .close04{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    cursor: pointer;
    color: black;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
    transition: 0.4s;
}

.video-containerx04 .close04:hover{
    box-shadow: 6px 6px 10px -1px rgba(77,77,77,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid #f0f0f0;
}

@media (max-width: 800px){
    .video-containerx04 .close04{
        top: 200px;
        font-size: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-right: 10px;
        
    }
}

.video-containerx04 .video-container04{
    /*width: 90%;*/
    max-width: 800px;
    transform: scale(0);
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
    outline: none;
    transition: all 0.3s;
    border-radius: 10px;
}

.video-containerx04.show04{
    pointer-events: all;
    opacity: 1;
}

.video-containerx04.show04 .video-container04{
    transform: scale(1);
}


/*-----ep5----*/

.btn05{
    display: flex;
    text-decoration: none;
    color: #4D4D4D;
    border-radius: 10px;
    border: 1px solid #BEBEBE;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    transition: 0.4s;
    padding-left: 10px;
    
}
.btn05:hover{
    box-shadow: 6px 6px 10px -1px rgba(77,77,77,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid #f0f0f0;
}

.video-containerx05{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(250,250,250,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.video-containerx05 .close05{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    cursor: pointer;
    color: black;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
    transition: 0.4s;
}

.video-containerx05 .close05:hover{
    box-shadow: 6px 6px 10px -1px rgba(77,77,77,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid #f0f0f0;
}

@media (max-width: 800px){
    .video-containerx05 .close05{
        top: 200px;
        font-size: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-right: 10px;
        
    }
}

.video-containerx05 .video-container05{
    /*width: 90%;*/
    max-width: 800px;
    transform: scale(0);
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
    outline: none;
    transition: all 0.3s;
    border-radius: 10px;
}

.video-containerx05.show05{
    pointer-events: all;
    opacity: 1;
}

.video-containerx05.show05 .video-container05{
    transform: scale(1);
}










